beautifulsoup4==4.12.3
gradio==5.9.1
gradio_modal==0.0.4
httpx==0.28.1
openai==1.58.1
openai_whisper==20240930
python-dotenv==1.0.1
pytube==15.0.0
setuptools==75.1.0
yt_dlp==2024.12.23
python-unsplash==1.2.5
moviepy~=2.1.1